.error{
    color:red;
}
thead th{
    text-align: center !important;
    vertical-align: middle !important;
    background-color: #2CBB73;
    color: white;
}
div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #2CBB73;
    border-color: #007bff;
}
.container {
    padding-right: 0px !important;
    padding-left: 0px !important;
}